/* #1 */
#ePxuBc5kL0K4_tr {
    animation: ePxuBc5kL0K4_tr__tr 90000ms linear infinite normal forwards;
    -webkit-animation: ePxuBc5kL0K4_tr__tr 90000ms linear infinite normal forwards;
}

@keyframes ePxuBc5kL0K4_tr__tr {
    0% {
        transform: translate(335.68px, 142.9px) rotate(0deg);
        -webkit-transform: translate(335.68px, 142.9px) rotate(0deg);
        -moz-transform: translate(335.68px, 142.9px) rotate(0deg);
        -ms-transform: translate(335.68px, 142.9px) rotate(0deg);
        -o-transform: translate(335.68px, 142.9px) rotate(0deg);
    }

    100% {
        transform: translate(335.68px, 142.9px) rotate(360deg);
        -webkit-transform: translate(335.68px, 142.9px) rotate(360deg);
        -moz-transform: translate(335.68px, 142.9px) rotate(360deg);
        -ms-transform: translate(335.68px, 142.9px) rotate(360deg);
        -o-transform: translate(335.68px, 142.9px) rotate(360deg);
    }
}

/* #2 */
#ePxuBc5kL0K5_tr {
    animation: ePxuBc5kL0K5_tr__tr 70000ms linear infinite normal forwards;
    -webkit-animation: ePxuBc5kL0K5_tr__tr 70000ms linear infinite normal forwards;
}

@keyframes ePxuBc5kL0K5_tr__tr {
    0% {
        transform: translate(335.8097px, 142.785624px) rotate(0deg);
        -webkit-transform: translate(335.8097px, 142.785624px) rotate(0deg);
        -moz-transform: translate(335.8097px, 142.785624px) rotate(0deg);
        -ms-transform: translate(335.8097px, 142.785624px) rotate(0deg);
        -o-transform: translate(335.8097px, 142.785624px) rotate(0deg);
    }

    100% {
        transform: translate(335.8097px, 142.785624px) rotate(360deg);
        -webkit-transform: translate(335.8097px, 142.785624px) rotate(360deg);
        -moz-transform: translate(335.8097px, 142.785624px) rotate(360deg);
        -ms-transform: translate(335.8097px, 142.785624px) rotate(360deg);
        -o-transform: translate(335.8097px, 142.785624px) rotate(360deg);
    }
}

/* #3 */
#ePxuBc5kL0K6_tr {
    animation: ePxuBc5kL0K6_tr__tr 50000ms linear infinite normal forwards;
    -webkit-animation: ePxuBc5kL0K6_tr__tr 50000ms linear infinite normal forwards;
}

@keyframes ePxuBc5kL0K6_tr__tr {
    0% {
        transform: translate(336.022925px, 143.033376px) rotate(0deg);
        -webkit-transform: translate(336.022925px, 143.033376px) rotate(0deg);
        -moz-transform: translate(336.022925px, 143.033376px) rotate(0deg);
        -ms-transform: translate(336.022925px, 143.033376px) rotate(0deg);
        -o-transform: translate(336.022925px, 143.033376px) rotate(0deg);
    }

    100% {
        transform: translate(336.022925px, 143.033376px) rotate(360deg);
        -webkit-transform: translate(336.022925px, 143.033376px) rotate(360deg);
        -moz-transform: translate(336.022925px, 143.033376px) rotate(360deg);
        -ms-transform: translate(336.022925px, 143.033376px) rotate(360deg);
        -o-transform: translate(336.022925px, 143.033376px) rotate(360deg);
    }
}

/* #4 */
#ePxuBc5kL0K7_tr {
    animation: ePxuBc5kL0K7_tr__tr 30000ms linear infinite normal forwards;
    -webkit-animation: ePxuBc5kL0K7_tr__tr 30000ms linear infinite normal forwards;
}

@keyframes ePxuBc5kL0K7_tr__tr {
    0% {
        transform: translate(336.214775px, 142.739048px) rotate(0deg)    ;
        -webkit-transform: translate(336.214775px, 142.739048px) rotate(0deg);
        -moz-transform: translate(336.214775px, 142.739048px) rotate(0deg);
        -ms-transform: translate(336.214775px, 142.739048px) rotate(0deg);
        -o-transform: translate(336.214775px, 142.739048px) rotate(0deg);
}

    100% {
        transform: translate(336.214775px, 142.739048px) rotate(360deg)    ;
        -webkit-transform: translate(336.214775px, 142.739048px) rotate(360deg);
        -moz-transform: translate(336.214775px, 142.739048px) rotate(360deg);
        -ms-transform: translate(336.214775px, 142.739048px) rotate(360deg);
        -o-transform: translate(336.214775px, 142.739048px) rotate(360deg);
}
}

/* #5 */
#ePxuBc5kL0K8_tr {
    animation: ePxuBc5kL0K8_tr__tr 100000ms linear infinite normal forwards;
    -webkit-animation: ePxuBc5kL0K8_tr__tr 100000ms linear infinite normal forwards;
}

@keyframes ePxuBc5kL0K8_tr__tr {
    0% {
        transform: translate(335.651275px, 142.514528px) rotate(0deg);
        -webkit-transform: translate(335.651275px, 142.514528px) rotate(0deg);
        -moz-transform: translate(335.651275px, 142.514528px) rotate(0deg);
        -ms-transform: translate(335.651275px, 142.514528px) rotate(0deg);
        -o-transform: translate(335.651275px, 142.514528px) rotate(0deg);
    }

    100% {
        transform: translate(335.651275px, 142.514528px) rotate(360deg);
        -webkit-transform: translate(335.651275px, 142.514528px) rotate(360deg);
        -moz-transform: translate(335.651275px, 142.514528px) rotate(360deg);
        -ms-transform: translate(335.651275px, 142.514528px) rotate(360deg);
        -o-transform: translate(335.651275px, 142.514528px) rotate(360deg);
    }
}

/* #6 */
#ePxuBc5kL0K10_tr {
    animation: ePxuBc5kL0K10_tr__tr 60000ms linear infinite normal forwards;
    -webkit-animation: ePxuBc5kL0K10_tr__tr 60000ms linear infinite normal forwards;
}

@keyframes ePxuBc5kL0K10_tr__tr {
    0% {
        transform: translate(335.74505px, 142.973856px) rotate(0deg)    ;
        -webkit-transform: translate(335.74505px, 142.973856px) rotate(0deg);
        -moz-transform: translate(335.74505px, 142.973856px) rotate(0deg);
        -ms-transform: translate(335.74505px, 142.973856px) rotate(0deg);
        -o-transform: translate(335.74505px, 142.973856px) rotate(0deg);
}

    100% {
        transform: translate(335.74505px, 142.973856px) rotate(360deg)    ;
        -webkit-transform: translate(335.74505px, 142.973856px) rotate(360deg);
        -moz-transform: translate(335.74505px, 142.973856px) rotate(360deg);
        -ms-transform: translate(335.74505px, 142.973856px) rotate(360deg);
        -o-transform: translate(335.74505px, 142.973856px) rotate(360deg);
}
}

/* #7 */
#ePxuBc5kL0K11_tr {
    animation: ePxuBc5kL0K11_tr__tr 40000ms linear infinite normal forwards;
    -webkit-animation: ePxuBc5kL0K11_tr__tr 40000ms linear infinite normal forwards;
}

@keyframes ePxuBc5kL0K11_tr__tr {
    0% {
        transform: translate(335.630275px, 141.802192px) rotate(0deg)    ;
        -webkit-transform: translate(335.630275px, 141.802192px) rotate(0deg)    ;
        -moz-transform: translate(335.630275px, 141.802192px) rotate(0deg)    ;
        -ms-transform: translate(335.630275px, 141.802192px) rotate(0deg)    ;
        -o-transform: translate(335.630275px, 141.802192px) rotate(0deg)    ;
}

    100% {
        transform: translate(335.630275px, 141.802192px) rotate(360deg)    ;
        -webkit-transform: translate(335.630275px, 141.802192px) rotate(360deg);
        -moz-transform: translate(335.630275px, 141.802192px) rotate(360deg);
        -ms-transform: translate(335.630275px, 141.802192px) rotate(360deg);
        -o-transform: translate(335.630275px, 141.802192px) rotate(360deg);
}
}

/* #8 */
#ePxuBc5kL0K12_tr {
    animation: ePxuBc5kL0K12_tr__tr 70000ms linear infinite normal forwards;
    -webkit-animation: ePxuBc5kL0K12_tr__tr 70000ms linear infinite normal forwards;
}

@keyframes ePxuBc5kL0K12_tr__tr {
    0% {
        transform: translate(325.1024px, 141.174512px) rotate(0deg)    ;
        -webkit-transform: translate(325.1024px, 141.174512px) rotate(0deg);
        -moz-transform: translate(325.1024px, 141.174512px) rotate(0deg);
        -ms-transform: translate(325.1024px, 141.174512px) rotate(0deg);
        -o-transform: translate(325.1024px, 141.174512px) rotate(0deg);
}

    100% {
        transform: translate(325.1024px, 141.174512px) rotate(360deg)    ;
        -webkit-transform: translate(325.1024px, 141.174512px) rotate(360deg);
        -moz-transform: translate(325.1024px, 141.174512px) rotate(360deg);
        -ms-transform: translate(325.1024px, 141.174512px) rotate(360deg);
        -o-transform: translate(325.1024px, 141.174512px) rotate(360deg);
}
}

/* #9 */
#ePxuBc5kL0K13_tr {
    animation: ePxuBc5kL0K13_tr__tr 120000ms linear infinite reverse forwards;
    -webkit-animation: ePxuBc5kL0K13_tr__tr 120000ms linear infinite reverse forwards;
}

@keyframes ePxuBc5kL0K13_tr__tr {
    0% {
        transform: translate(309.737825px, 141.271936px) rotate(360deg)    ;
        -webkit-transform: translate(309.737825px, 141.271936px) rotate(360deg);
        -moz-transform: translate(309.737825px, 141.271936px) rotate(360deg);
        -ms-transform: translate(309.737825px, 141.271936px) rotate(360deg);
        -o-transform: translate(309.737825px, 141.271936px) rotate(360deg);
}

    100% {
        transform: translate(309.737825px, 141.271936px) rotate(0deg)    ;
        -webkit-transform: translate(309.737825px, 141.271936px) rotate(0deg);
        -moz-transform: translate(309.737825px, 141.271936px) rotate(0deg);
        -ms-transform: translate(309.737825px, 141.271936px) rotate(0deg);
        -o-transform: translate(309.737825px, 141.271936px) rotate(0deg);
}
}